body {
  @apply bg-nb10 font-cormorant;
  font-family: "Cormorant Garamond", serif !important;

}

.imagemain {
  max-height: 100vh;
  width: 100%;
}

input:focus-visible {
  outline: 0 solid transparent;
}

textarea:focus-visible {
  outline: 0 solid transparent;
}

select:focus-visible {
  border: 0 dashed transparent;
  outline: none;
}



.video-bg {
  position: relative;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.video-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.video-bg iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 60vw;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

// Contact page starts
figure.snip1205 {
  overflow: hidden;
  margin: 10px;
  width: 100%;
  // max-width: 170px;
  // width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1205 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1205 img {
  max-width: 100%;
  vertical-align: top;
}

figure.snip1205 i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 34px;
  line-height: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

figure.snip1205 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1205:hover img,
figure.snip1205.hover img {
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

figure.snip1205:hover i,
figure.snip1205.hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.responsive-map {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#mapsg {
  height: 400px;
  width: 100%;
}

.overlay.show {
  width: 100%;
}